.con1_c .item{
    display: flex;
    justify-content: space-around;
}
.con1_c .item2{
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
}
.con1_c li{
    width: 300px;
    height: 320px;
    background: rgb(249, 244, 244);
    border-radius: 15px;
}
.con1_c img{
    margin-left: 35px;
}
.con1_c p{
    text-align: center;
}