.sub2{
    display: flex;
    width:743px;
    justify-content: space-between;
    margin-top: 25px;
}
.sub1{
    display: flex;
    width:743px;
    justify-content: space-between;
}
.con2_c img{
    float: left;
    margin-left: 35px;
}