.con1_c{
    width: 1500px; height: 800px;
    position: absolute;top: 1050px;left: 202px;
}
.con2_c{
    width: 1500px; height: 800px;
    position: absolute;top: 1050px;left: 202px;
}
.con3_c{
    width: 1500px; height: 800px;

    position: absolute;top: 1050px;left: 202px;
}
.con4_c{
    width: 1500px; height: 800px;

    position: absolute;top: 1050px;left: 202px;
}
.con5_c{
    width: 1500px; height: 800px;
    position: absolute;top: 1050px;left: 202px;
}