.wrap{
  width: 100%;
}

.header{
  width: 100%; height: 80px;
  display: flex;
  justify-content: center;
}
.header .header_in{
  display: flex;
  justify-content: space-between;
  width: 1400px; height: 80px;
}
.header .logo{
  display: flex;
}
.header .logo img{
  margin-top: 30px;
  width: 100px;
}
.header .nav_L{
  display: flex;
  justify-content: space-between;
  width: 700px;height: 80px;
  margin-right: 60px;
}
.header .nav_L ul{
  display: flex;
  align-items: center;
}
.header .nav_L a{
  color:  black;
}
.header .nav_L a:hover{
  color:  white;
}
.header .nav_L li{
  display: flex;
  font-size: 13px;
  font-weight: 700;
  margin-right: 12px;
  color: black;
}
.header .nav_L li:hover{
  border-radius: 15px;
  background: black;
  height: 30px;
  color: white;
  align-items: center;
  transform: translate(1s);
}
.header .nav_R{
  display: flex;
  justify-content: space-between;
  width: 550px;height: 80px;
}
.header .nav_R ul{
  display: flex;
  align-items: center;
}
.header .nav_R li{
  display: flex;
  font-size: 13px;
  font-weight: 700;
  margin-right: 15px;
}
.header .nav_R li:hover{
  border-radius: 15px;
  background: black;
  height: 30px;
  color: white;
  align-items: center;
  transform: translate(1s);
}
.header .nav_R .icon{
  margin-right: 10px;
}
.header .nav_R .icons{
  margin-top: 3px;
}