.mainimg{
    /* width: 19030px ; */
    /* width: 300vw; */
    height: 800px;
    transition: transform 0.5s;
    overflow: hidden;
}

.slide{
    width: 100%;
    display: flex;
}
.slide img{
    width: 100%;
}
.non-scroll{
    overflow: hidden;
}